<%= @game.opponent.name %> attacked <%= @game.current_turn.name  %>
<br>
<%= "#{@game.current_turn.name}'s HP is reduced to #{@game.current_turn.hp}!" %>

<form action ="/play">
  <button type="submit" name="next turn">
    Next Turn
  </button>
</form>
