+<%= @game.player_1.name %> vs. <%= "#{@game.player_2.name} HP:#{@game.player_2.hp}" %>

<form action ="/attack" method="post">
  <button type="submit" name="attack!">
    ATTACK!! ಠ_ಠ
  </button>
</form>
